@model BL.DTOs.Entities.User.UserLoginDTO
@{ ViewData["Title"] = "Login";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col s12">
        <form asp-action="Login">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

