@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="tenor-gif-embed" data-postid="18841535" data-share-method="host" data-aspect-ratio="2.38806" data-width="100%"><a href="https://tenor.com/view/hello-there-general-kenobi-gif-18841535">Hello There General Kenobi GIF</a>from <a href="https://tenor.com/search/hello+there-gifs">Hello There GIFs</a></div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>
