@model BL.DTOs.Entities.Review.ReviewDTO
@using MVCProject.StateManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateReview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CreationDate" />
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarsAmmount" class="control-label"></label>
                <input asp-for="StarsAmmount" class="form-control" />
                <span asp-validation-for="StarsAmmount" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="BookTemplateID" value=@int.Parse(StateKeeper.Instance.ReadDataFromLastRequest(TempData,TempDataKeys.BookDTOId).ToString())/>
            <input type="hidden" asp-for="UserID" value=@int.Parse(User.Identity.Name) />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
